body {
  height: 100vh;
  width: 100%;
  background-image: url(addressbook-pt2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(addressbook-pt2.jpg);
  background-size: cover;
  font-family: "Maven Pro", sans-serif;
}

.container {
  /* background-color: red; */
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1%;
  padding: 1%;
  /* animation: fadein 2s; */
  /* -webkit-animation: fadein 3s; */
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.main {
  height: 90%;
  width: 58%;
  background-color: rgba(179, 178, 176, 0.6);
  margin: 1%;
  padding: 2%;
  display: inline-block;
  border-radius: 1%;
}

form {
  height: 96%;
  display: grid;
}

h1 {
  text-align: center;
  /* -webkit-text-stroke-width: medium; */
  font-weight: bold;
  color: whitesmoke;
  margin-block-start: 0.17em;
  margin-block-end: 0.17em;
}

input {
  width: -webkit-fill-available;
  height: 32px;
}

select {
  width: -webkit-fill-available;
  height: 70%;
}

.addbutton {
  width: -webkit-fill-available;
  margin-top: 2%;
}

.containContacts {
  height: 132px;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: space-evenly;
}

.contact {
  width: 15%;
  height: 61%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1%;
  margin: 1%;
  display: flex;
  border-radius: 3%;
  /* animation: fadein 2s; */
  /* -webkit-animation: fadein 10s; */
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.one:hover {
  width: 15%;
  height: 61%;
  background-color: rgb(255, 255, 255);
  padding: 1%;
  margin: 1%;
  display: flex;
}

.two:hover {
  width: 15%;
  height: 61%;
  background-color: rgb(255, 255, 255);
  padding: 1%;
  margin: 1%;
  display: flex;
}

.three:hover {
  width: 15%;
  height: 61%;
  background-color: rgb(255, 255, 255);
  padding: 1%;
  margin: 1%;
  display: flex;
}

.trash {
  position: relative;
  height: 37%;
  width: 21%;

  border-radius: 50%;
  left: 14%;
  top: 93%;
  background-image: url(trashpic.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.trash:hover {
  position: relative;
  height: 40%;
  width: 25%;

  border-radius: 50%;
  left: 14%;
  top: 93%;
  background-image: url(trashpic.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.contactInfo {
  /* background-color: red; */
  height: 100%;
  width: 100%;
}